<div mat-dialog-title>
  <h1>Vehicle Form</h1>
</div>
<form [formGroup]="noteForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput type="text" placeholder="" formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Content</mat-label>
        <textarea matInput type="text" placeholder="" formControlName="input"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" mat-dialog-close="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
  </div>
</form>
