<div mat-dialog-title>
  <h1>Vehicle Form</h1>
</div>
<form [formGroup]="vehForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Id</mat-label>
        <input matInput type="text" placeholder="4" formControlName="id">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mark</mat-label>
        <input matInput type="text" placeholder="Honda" formControlName="mark">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Model</mat-label>
        <input matInput type="text" placeholder="Civic" formControlName="model">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Color</mat-label>
        <input matInput type="text" placeholder="4" formControlName="color">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Production date</mat-label>
        <input matInput type="text" placeholder="2023-05-13" formControlName="productionDate">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" mat-dialog-close="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
  </div>
</form>
